@font-face {
    font-family: ElMessiri-Bold;
    src: url(../fonts/ElMessiri-Bold.ttf);
}
@font-face {
    font-family: ElMessiri-SemiBold;
    src: url(../fonts/ElMessiri-SemiBold.ttf);
}
@font-face {
    font-family: ElMessiri-Regular;
    src: url(../fonts/ElMessiri-Regular.ttf);
}
@font-face {
    font-family: ElMessiri-Medium;
    src: url(../fonts/ElMessiri-Medium.ttf);
}


body > .container {
    padding: 60px 15px 0;
}
 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
/*   /* height: 40px;*/
 /*   line-height: 5vh; /* Vertically center the text there */
    background-color: #262f3a;
    color: #fff;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
} 

body {
    /* Margin bottom by footer height */
/*    margin-bottom: 60px;*/
}
 
html {
    position: relative;
    min-height: 100%;
}
 
/*
a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:#fff;
    text-decoration: underline;
}
*/
 .parallax-windows {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1F81C2;
}

 
.texts {
  color: white;
  font-size:1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.info-box:hover .overlay {
  opacity: 1;
}