@font-face {
    font-family: ElMessiri-Bold;
    src: url(../fonts/ElMessiri-Bold.ttf);
}
@font-face {
    font-family: ElMessiri-SemiBold;
    src: url(../fonts/ElMessiri-SemiBold.ttf);
}
@font-face {
    font-family: ElMessiri-Regular;
    src: url(../fonts/ElMessiri-Regular.ttf);
}
@font-face {
    font-family: ElMessiri-Medium;
    src: url(../fonts/ElMessiri-Medium.ttf);
}


body > .container {
    padding: 60px 15px 0;
}
 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
/*   /* height: 40px;*/
 /*   line-height: 5vh; /* Vertically center the text there */
    background-color: #262f3a;
    color: #fff;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
} 

body {
    /* Margin bottom by footer height */
/*    margin-bottom: 60px;*/
}
 
html {
    position: relative;
    min-height: 100%;
}
 
a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:#fff;
    text-decoration: underline;
}
 .parallax-windows {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}